/* Bootstrap CSS */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

/* Boostrap Icons */
@import url(../node_modules/bootstrap-icons/font/bootstrap-icons.css);

/* TIPOGRAFÍA */
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */
body {
  background: #FFFFFF;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}
p, li {
  font-family: 'Nunito', sans-serif;
}

.logo {
  width: 80px;
  height: 75px;
}

/* NAVBAR */
.bg-img {
  opacity: 0.3;
}

/* Deshabilitar el enlace en la página actual */
.disabled-link {
  pointer-events: none;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #28a745;
}

/* INDEX */
/* Carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px; /* Ajusta el tamaño */
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  border-radius: 50%;
  background-size: 60%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-indicators button {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.carousel-indicators button.active {
  background-color: #f39c12 !important;
}

.carousel-inner {
  height: 0;
  padding-bottom: 50%;
}

.carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  color: black;
}

.carousel-caption h1,
.carousel-caption p {
  margin: 0;
}

.custom-caption-left {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
}

.custom-caption-right {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
}

/* Newsletter */
#newsletter .card {
  max-width: 750px;
}

#newsletter img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#newsletter .row {
  height: auto;
}

/* PRODUCTOS */
/* Overlay */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-section {
  position: relative;
  width: 100%;
  height: 450px;
}

.overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Tarjetas de productos */
.card-producto {
  overflow: hidden;
}

.card-img-top {
  height: 350px;
  width: 100%;

  object-fit: cover;
  transition: transform 0.3s;
  border-radius: 20px;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/* CONTACTO */
#mensaje {
  resize: none;
}

.map-text {
  text-align: center;
  font-size: 1rem;
  margin-top: 8px;
}

/* FOOTER */
#contenedor-footer {
  width: 262px;
}

#titulo-footer {
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 992px) {

  /* NAVBAR */
  .offcanvas {
    height: auto !important; /* Ajusta la altura automáticamente al contenido */
    max-height: none !important; /* Elimina cualquier restricción de altura */
    min-height: fit-content !important; /* Solo ocupa el espacio del contenido */
    border-radius: 15px 0 0 15px !important; /* Bordes redondeados en la esquina izquierda */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }

  /* Asegura que el contenedor del offcanvas no ocupe toda la pantalla */
  .offcanvas.offcanvas-end {
    width: fit-content !important; /* Se ajusta al contenido */
    max-width: 300px; /* Opcional: limita el ancho máximo */
  }
}